absl-py==0.7.1
appnope==0.1.0
asgiref==3.2.10
astor==0.8.0
backcall==0.1.0
beautifulsoup4==4.9.1
certifi==2019.6.16
Click==7.0
cycler==0.10.0
decorator==4.4.0
Django==3.1.1
django-cors-headers==3.5.0
django-summernote==0.8.11.6
djangorestframework==3.11.1
Flask==1.1.1
gast==0.2.2
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
ipython==7.7.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.11.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.5.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.0
pandas==0.25.0
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
pipenv==2018.11.26
prompt-toolkit==2.0.9
protobuf==3.9.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
scipy==1.3.0
six==1.12.0
soupsieve==2.0.1
sqlparse==0.3.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Theano==1.0.4
traitlets==4.3.2
virtualenv==16.6.1
virtualenv-clone==0.5.3
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.11.2
